In [1]:
# PySpark Missing Value

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [9]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Shivam|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Mahesh|NULL|      NULL| 20222|
|     NULL|  23|        10| 23233|
|     NULL|  36|      NULL|  2322|
+---------+----+----------+------+

In [10]:
##drop the columns

In [12]:
df_pyspark.drop('Name show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|NULL|      NULL| 20222|
|  23|        10| 23233|
|  36|      NULL|  2322|
+----+----------+------+

In [13]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Shivam|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Mahesh|NULL|      NULL| 20222|
|     NULL|  23|        10| 23233|
|     NULL|  36|      NULL|  2322|
+---------+----+----------+------+

In [14]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Shivam| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [17]:
df_pyspark.na.drop(how="all",thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|   Shivam|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Mahesh|NULL|      NULL| 20222|
|     NULL|  23|        10| 23233|
|     NULL|  36|      NULL|  2322|
+---------+----+----------+------+

In [18]:
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Shivam| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|     NULL| 23|        10| 23233|
+---------+---+----------+------+

In [19]:
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|        Shivam|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Mahesh|NULL|      NULL| 20222|
|Missing Values|  23|        10| 23233|
|Missing Values|  36|      NULL|  2322|
+--------------+----+----------+------+

In [ ]:
df_pyspark.na.fill('Missing Values','Experience').show()