In [59]:
from pyspark.sql import SparkSession

In [60]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [61]:
spark

In [62]:
## read the dataset

In [63]:
df_pyspark=spark.read.option("header", "true").csv("test1.csv")

In [64]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [65]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [66]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|   Shivam| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [67]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [68]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [69]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [70]:
df_pyspark.head(4)

[Row(Name='Shivam', age=31, Experience=10),
 Row(Name='Sudhanshu', age=30, Experience=8),
 Row(Name='Sunny', age=29, Experience=4)]

In [71]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|   Shivam| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [72]:
type(df_pyspark.select(['Name','Experience']).show())

+---------+----------+
|     Name|Experience|
+---------+----------+
|   Shivam|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

NoneType

In [73]:
df_pyspark['Name']

Column<'Name'>

In [74]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [75]:
df_pyspark.describe().show()

+-------+------+----+-----------------+
|summary|  Name| age|       Experience|
+-------+------+----+-----------------+
|  count|     3|   3|                3|
|   mean|  NULL|30.0|7.333333333333333|
| stddev|  NULL| 1.0|3.055050463303893|
|    min|Shivam|  29|                4|
|    max| Sunny|  31|               10|
+-------+------+----+-----------------+

In [42]:
## Adding columns in data frame

In [76]:
df_pyspark=df_pyspark.withColumn('Experience After 2 Years',df_pyspark['Experience']+2)

In [77]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|age|Experience|Experience After 2 Years|
+---------+---+----------+------------------------+
|   Shivam| 31|        10|                      12|
|Sudhanshu| 30|         8|                      10|
|    Sunny| 29|         4|                       6|
+---------+---+----------+------------------------+

In [78]:
## Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 Years')

In [79]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|   Shivam| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+